body {
  margin: 0;
  font-family: 'Montserrat','Noto Sans KR',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
  line-height: 30px !important;
}

.korea-text, .korea-text * {
  font-family: 'Noto Sans KR' !important;
}

*[role="button"]{
  cursor: pointer;
  user-select: none;
}