/* custom.scss */
/* change theme colors */
$primary: #fff;
$secondary: #111;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
/* end custom.scss */

@import '~bootstrap/scss/bootstrap.scss';